<!--<footer style="background-color:#CCC">
		<a href="/static_pages/home">HOME</a>
		<a href="/static_pages/about">ABOUT US</a>
		<a href="/static_pages/help">HELP</a>
		<a href="/static_pages/contact">CONTACT</a>
		<p style="font-size: 0.8em; color: #666;" align="right">©2013 Rails - Sample App</p>
</footer> -->

<footer class="footer">
	<small>
		<a href="http://railstutorial.org/">Rails Tutorial</a> by Michael Hartl
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><a href="http://news.railstutorial.org">News</a></li>
		</ul>
	</nav>
</footer>